<div class="col-sm-6 offset-sm-3">
    <h3 class="mb-4 pagetitle">Wallets</h3>
    <div class="d-flex gap-2 btncontainer">
        <button class="mb-3 btn btn-success addbtn" routerLink="/addwallet">Add wallet <i class="bi bi-piggy-bank"></i></button>
        
    </div>
    

<div class="card mb-3" *ngFor="let wallet of wallets; let i = index">
  <div class="card-body">
    <h5 class="card-title">{{wallet.name}}</h5>
    <p class="card-text">Balance: {{wallet.balance}}</p>
    <button class="btn btn-success" [routerLink]="['/newtransaction', wallet.id]">Make transaction <i class="bi bi-arrow-down-up"></i></button>
    <button class="btn btn-danger mx-3" (click)="WalletDelete(wallet.id)">Delete wallet <i class="bi bi-trash-fill"></i></button>
  </div>
</div>
</div>

