<div class="col-sm-6 offset-sm-3">

    <h3 class="mb-4 pagetitle">Update my profile</h3>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nameProf" placeholder="Name" [(ngModel)]="updUser.name" name="updUser.name">
        <label for="nameProf">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="emailProf" placeholder="Email" [(ngModel)]="updUser.email" name="updUser.email">
        <label for="emailProf">Email address</label>
    </div>
    <hr class="mb-3">
    
    <div class="d-flex gap-2">
        <button class="mb-3 btn btn-success" (click)="profUpdate()">Update <i class="bi bi-arrow-repeat"></i></button>
        <button class="mb-3 btn btn-secondary" routerLink="/login">Back <i class="bi bi-box-arrow-left"></i></button>
    </div>
</div>
