<div class="col-sm-6 offset-sm-3">
    <h3 class="mb-4 pagetitle">Transactions</h3>
    

<table class="table table-hover table-stripped">
        <thead>
            <tr>
                <th>#</th>
                <th>Walletname</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions; let i = index">
                <td>{{i+1}}.</td>
                <td>{{transaction.walletName}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.categoryName}}</td>
                <td>{{transaction.type ? "Bevétel" : "Kiadás"}}</td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">Összesen: <strong>{{transactions.length}}</strong> tranzakció</td>
            </tr>
        </tfoot>
    </table>
</div>
